.contact {
  background: $bgPrimary;
  color: white;
  padding: 5% 0;
  h2 {
    color: $accent4;
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 3%;
  }
  a {
    color: white;
  }
  a:hover {
    color: $accent3;
  }
}
.contactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .fa-phone,
  .fa-envelope,
  .fa-user {
    padding-right: 15px;
  }
}
.contactInfo {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  li {
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 2.4px;
    text-align: center;
    // border-bottom: 2px solid $accent3;
  }
}
.contactForm {
  // margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  //   flex-direction: column;
  form {
    width: 50%;
  }
  .contactInputs {
    outline: none;
    background-color: $bgPrimary;
    color: white;
    border: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .textInput {
    border-bottom: 2px solid $accent1;
  }
  .emailInput {
    border-bottom: 2px solid $accent2;
  }
  .messageInput {
    border-bottom: 2px solid $accent3;
  }
  .submitInput {
    border: 2px solid $accent4;
    color: #92949b;
  }
}
.socialMedia {
  width: 40%;
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .devicon-twitter-plain {
    color: $accent1;
  }
  .fa-linkedin {
    color: $accent2;
  }
  .devicon-github-plain {
    color: $accent3;
  }
  .fa-medium {
    color: $accent4;
  }
  i {
    font-size: 30px;
  }
  i:hover {
    color: white;
  }
}

@media (max-width: 670px) {
  .contactInfo {
    li {
      font-size: 1.2rem;
      line-height: 2;
      letter-spacing: 2.5px;
    }
  }
  .socialMedia {
    i {
      font-size: 25px;
    }
  }
}
@media (max-width: 530px) {
  .contact {
    h2 {
      font-size: 1.6rem;
      letter-spacing: 2px;
    }
  }
  .contactMe {
    flex-direction: column;
  }
  .contactInfo {
    padding-bottom: 10px;
    width: 100%;
    li {
      font-size: 1.2rem;
      line-height: 1.5;
      letter-spacing: 2px;
    }
  }
  .socialMedia {
    width: 100%;
    i {
      font-size: 30px;
    }
  }
}
// PHONES AND SMALLER
@media (max-width: 320px) {
  .contact {
    h2 {
      font-size: 1.2rem;
      letter-spacing: 2px;
    }
  }
  .contactInfo {
    li {
      font-size: 1rem;
      line-height: 1.4;
      letter-spacing: 2px;
    }
  }
  .socialMedia {
    i {
      font-size: 25px;
    }
  }
}
