.contact{
    background:$bgPrimary;
    color:white;
    padding:5% 0;
    h2{
        color:$accent4;
        letter-spacing: 2px;
        text-align: center;
        padding-bottom: 4%;
        font-size: 1.8rem;
    }
    a{
        color:white;
    }
    a:hover{
        color:$accent3;
    }
}
.contactMe {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactInfo{
    width:40%;
    display:flex;
    justify-content: center;
    li{
        font-size:1.3rem;
        line-height:1.6;
        letter-spacing: 2.4px;
        border-bottom:2px solid $accent3;
    }
}
.socialMedia{
    width:40%;
    nav{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .devicon-twitter-plain{
        color:$accent1; 
    }
    .fa-linkedin{
        color:$accent2;
    }
    .devicon-github-plain{
        color:$accent3;
    }
    .fa-medium{
        color:$accent4;
    }
    i{
        font-size:30px;
        
    }
    i:hover{
        color:white;
    }
}