.contact{
    background:$bgPrimary;
    color:white;
    padding:5% 0;
    h2{
        color:$accent4;
    }
    a{
        color:white;
    }
    a:hover{
        color:$accent3;
    }
}

.socialMedia{
    .devicon-twitter-plain{
        color:$accent1;
    }
    .fa-linkedin{
        color:$accent2;
    }
    .devicon-github-plain{
        color:$accent3;
    }
    .fa-medium{
        color:$accent4;
    }
}