// START OF GLOBAL STYLES
html{
    font-size:125%;
}
ul{
    padding:0;
}
li{
    list-style-type: none;
}
a{
    text-decoration:none;
}
img{
    width:100%;
}
p{
    margin:0;
}
h1,h2,h3{
    margin:0;
}
.wrapper{
    width:80%;
    margin:0 auto;
}
//END OF GLOBAL STYLES