// START OF GLOBAL STYLES
html{
    font-size:125%;
}
body{
    font-family:$primaryFont;
    overscroll-behavior: none;
}
ul{
    padding:20px 0;
    margin:0;
}
li{
    list-style-type: none;
}
a{
    text-decoration:none;
}
img{
    width:100%;
}
p{
    margin:0;
}
h1,h2,h3{
    margin:0;
}
.wrapper{
    max-width:1280px;
    width:80%;
    margin:0 auto;
}
//END OF GLOBAL STYLES