// START OF HEADER STYLES
.topBar{
    background:$bgPrimary;
    .wrapper{
        display:flex;
        justify-content: space-between;
    }
}
.heading{
    background:linear-gradient(148deg, rgba(60,65,78,1) 44%, rgba(60,65,78,0.85) 44%), url(../assets/meB.jpg);
    // background:linear-gradient(125deg, rgba(60,65,78,1) 52%, rgba(60,65,78,0.9) 52%), url(../assets/me.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    padding:1px;
    height:calc(100vh - 65px);
    display:flex;
    justify-content:flex-start;
    align-items:center;
    h1{
        font-size:6rem;
        color:white;
        font-family:$secondaryFont;
        font-weight:900;
    }
    h2{
        color:$accent1;
        font-size:1.5rem;
        font-weight: 700;
        letter-spacing: 1.6px;
    }
    .headName{
        height:60vh;
        margin-left:6%;
    }   
}
.tagline{
    width:40%;
    display:flex;
    align-items:center;
    .logo{
        width:42px;
        margin-right:17px;
    }
    .name{
        color:white;
        font-weight:bold;
        line-height:1.6;
        letter-spacing: 3px;
        font-size:1.1rem;
    }
}
.topNav {
    width:45%;
    button{
        display:none;
        color:$accent2;
        border:none;
        background:none;
    }
    a{
        color:white;
        text-transform: uppercase;
        font-weight:bold;
        line-height:1.6;
        letter-spacing: 3px;
        font-size:0.8rem;
    }
    a:hover{
        color:$accent3;
    }
    ul{
        display:flex;
        justify-content:space-between;
    }
}
.show.showNav {
    display: block;
}
.hamburger,
.exitResponsive {
	display: none;
}
//SMALLER TO LARGER SCREENS
@media(max-width:1080px){
   .heading{
       h1{
           font-size: 5.2rem;
       }
       h2{
           font-size:1.3rem;
       }
   }
   .topNav{
       width:55%;
   }
}
//DESKTOP STYLES
@media(max-width:940px){
   .heading{
       h1{
           font-size: 5rem;
       }
       h2{
            font-size: 1.4rem;
       }
   }
   .topNav{
       width:60%;
   }
}
@media (max-width: 800px) {
    .topNav{
        a{
            font-size:0.7rem;
        }
    }
}
//IPAD STYLES 
@media (max-width: 768px) {
    .heading{
       h1{
           font-size: 4.5rem;
       }
       h2{
            font-size: 1.2rem;
       }
   }
   .tagline{
       .name{
           font-size:0.9rem;
        }
        .logo{
            width:36px;
        }
   }
}
@media(max-width:670px){
    .heading{
       h1{
           font-size: 4.2rem;
       }
       h2{
            font-size: 1.1rem;
       }
   }
    .topNav{
        display:flex;
        justify-content: flex-end;
        width: 30%;
        button{
            display:block;
            padding:20px;
        }
        ul{
            display:none;
        }

    }
    .tagline {
        width: 60%;
    }
}
@media (max-width: 480px) {
    .tagline{
        .name{
            line-height: 1.2;
        }
    }
    .heading{
        background:linear-gradient(148deg, rgba(60,65,78,1) 44%, rgba(60,65,78,0.85) 44%), url(../assets/mobile.jpg);
        background-position: center bottom;
        background-size:cover;
        background-repeat: no-repeat;
        h1{
           font-size: 3.5rem;
        }
        h2{
            font-size: 0.9rem;
        }    
   }
}
@media(max-width:370px){
    .heading{
       h1{
           font-size: 3rem;
       }
       h2{
            font-size: 0.8rem;
       }
   }
}


//END OF HEADER STYLES