// START OF HEADER STYLES
.topBar{
    background:$bgPrimary;
    .wrapper{
        display:flex;
        justify-content: space-between;
    }
}
.heading{
    background: linear-gradient(325deg, rgba(60,65,78,0.89) 10%, rgba(60,65,78,1) 55%, rgba(60,65,78,1)), url(../assets/brown3.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center top;
    padding:1px;
    height:calc(100vh - 65px);
    display:flex;
    justify-content:flex-start;
    align-items:center;
    h1{
        font-size:6rem;
        color:white;
    }
    h2{
        color:$accent1;
        font-size:1.5rem;
    }
    .headName{
        height:50vh;
        margin-left:125px;
    }   
}
.tagline{
    width:40%;
    display:flex;
    align-items:center;
    .logo{
        width:42px;
        margin-right:17px;
    }
    .name{
        color:white;
        font-weight:bold;
        line-height:1.6;
        letter-spacing: 2px;
        font-size:1.1rem;
    }
}
.topNav {
    width:45%;
    button{
        // display:none;
        color:$accent2;
        border:none;
        background:none;
    }
    a{
        color:white;
        text-transform: uppercase;
        font-weight:bold;
        line-height:1.6;
        letter-spacing: 2px;
        font-size:0.8rem;
    }
    a:hover{
        color:$accent3;
    }
    ul{
        // display:none;
        display:flex;
        justify-content:space-between;
    }
}
// PHONES AND SMALLER
@media (min-width: 320px) {
   //probably should be max
}

@media (min-width: 480px) {
    
}

//IPAD STYLES 
@media (min-width: 768px) {
    
}
//DESKTOP STYLES
@media(min-width:940px){
   
}
//SMALLER TO LARGER SCREENS
@media(min-width:1080px){
   
}
//END OF HEADER STYLES