.projects{
    background:$bgSecondary;
    // background:linear-gradient(345deg, rgba(50,54,64,1) 52%, rgba(60,65,78,1) 52%);
    padding:5% 0;
}
.projectsTitle{
    h2{
        color:$accent2;
        letter-spacing: 2px;
        text-align: center;
        padding-bottom: 4%;
        font-size: 1.8rem;
    }
}
.project1,
.project2,
.project3,
.project4,
.project5{
    display:flex;
    justify-content: center;
}
.projectLaptop{
    width:40%;
    .projectPhoto{
        width: 319px;
        position: absolute;
        top: 26px;
        right: 66px;
    }
    .laptopImage{
        width:450px;
        position: relative;
    }
}
.projectInfo{
        width:30%;
        color:white;
        .skillUsed{
            color:$accent3;
            padding-top: 34px;
        }
}
.left,
.right {
    color:$accent1;
    background: none;
    border: none;
    font-size: 51px;
    padding: 0 22px;
}
.left:hover, .right:hover{
    color:$accent4;
}


//SMALLER TO LARGER SCREENS
@media(max-width:1080px){
 
}
//DESKTOP STYLES
@media(max-width:940px){

}
//IPAD STYLES 
@media (max-width: 768px) {

}
@media(max-width:600px){

}
@media(max-width:530px){
    
}
@media (max-width: 480px) {

}
@media(max-width:400px){
    
}
// PHONES AND SMALLER
@media (max-width: 320px) {

}