.projects{
    background:$bgSecondary;
    // background:linear-gradient(345deg, rgba(50,54,64,1) 52%, rgba(60,65,78,1) 52%);
    padding:5% 0;
    h2{
        color:$accent2;
        letter-spacing: 2px;
    }
    
    .projectPhoto{
        width:216px;
        position: absolute;
        top: 16px;
        right: 42px;
    }
    .laptopImage{
        width:300px;
        position: relative;
    }
}