.mySkills{
    background:$bgPrimary;
    padding:5% 0;
    h2{
        text-align: center;
        color:white;
        font-size:1.8rem;
    }
}

.skillsList1{
    display:flex;
    justify-content: space-between;
    li{
        font-size:100px;
    }
}
.skillsList2{
    display:flex;
    justify-content:space-evenly;
    
    li{
        font-size:100px;
    }
}
.devicon-html5-plain, .devicon-react-original,.devicon-visualstudio-plain{
    color:$accent1;
}
.devicon-css3-plain, 
.devicon-sass-original{
    color:$accent2;
}
.devicon-javascript-plain,
.devicon-git-plain{
    color:$accent3;
}
.devicon-jquery-plain-wordmark,
.devicon-github-plain{
    color:$accent4;
}
