//COLOR PALETTE VARIABLES
$bgPrimary: #222533; //Dark Gun Metal(34, 37, 51)
$bgSecondary: #3c414e; // Arsenic (60, 65, 78)
$bgThird: #2e3141; //Gun metal (46, 49, 65
$bgFourth: #5b5b64; //Black Coral (91, 91, 100)
$bgFifth: #646c77; //Paynes Grey (100, 108, 119)

//accent colours
$accent1: #b1cd67; //Middle Green Yellow (177, 205, 103)
// $accent1: #acd04a;
$accent2: #83d0e4; // Middle Blue (131, 208, 228)
// $accent2: #2dadce;
// $accent3: #ec9476; //Dark Salmon (236, 148, 118)
$accent3: lightcoral;
$accent4: #968ba2; //Manatee (150,139,162)
// $accent4: #8965b0;
$accent5: #b3d891; //Medium Spring Bud (179, 216, 145)

//FONT VARIABLES
$primaryFont: "Lato", sans-serif;
$secondaryFont: "Raleway", sans-serif;
