article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  font-family: "Lato", sans-serif; }

ul {
  padding: 20px 0;
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

p {
  margin: 0; }

h1, h2, h3 {
  margin: 0; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

.topBar {
  background: #222533; }
  .topBar .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.heading {
  background: -webkit-linear-gradient(302deg, #3c414e 44%, rgba(60, 65, 78, 0.85) 44%), url(../assets/meB.jpg);
  background: -o-linear-gradient(302deg, #3c414e 44%, rgba(60, 65, 78, 0.85) 44%), url(../assets/meB.jpg);
  background: linear-gradient(148deg, #3c414e 44%, rgba(60, 65, 78, 0.85) 44%), url(../assets/meB.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  height: calc(100vh - 65px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .heading h1 {
    font-size: 6rem;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 900; }
  .heading h2 {
    color: #B1CD67;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.6px; }
  .heading .headName {
    height: 60vh;
    margin-left: 6%; }

.tagline {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .tagline .logo {
    width: 42px;
    margin-right: 17px; }
  .tagline .name {
    color: white;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 3px;
    font-size: 1.1rem; }

.topNav {
  width: 45%; }
  .topNav button {
    display: none;
    color: #83D0E4;
    border: none;
    background: none; }
  .topNav a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 3px;
    font-size: 0.8rem; }
  .topNav a:hover {
    color: #EC9476; }
  .topNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.show.showNav {
  display: block; }

.hamburger,
.exitResponsive {
  display: none; }

@media (max-width: 1080px) {
  .heading h1 {
    font-size: 5.2rem; }
  .heading h2 {
    font-size: 1.3rem; }
  .topNav {
    width: 55%; } }

@media (max-width: 940px) {
  .heading h1 {
    font-size: 5rem; }
  .heading h2 {
    font-size: 1.4rem; }
  .topNav {
    width: 60%; } }

@media (max-width: 800px) {
  .topNav a {
    font-size: 0.7rem; } }

@media (max-width: 768px) {
  .heading h1 {
    font-size: 4.5rem; }
  .heading h2 {
    font-size: 1.2rem; }
  .tagline .name {
    font-size: 0.9rem; }
  .tagline .logo {
    width: 36px; } }

@media (max-width: 670px) {
  .heading h1 {
    font-size: 4.2rem; }
  .heading h2 {
    font-size: 1.1rem; }
  .topNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 30%; }
    .topNav button {
      display: block;
      padding: 20px; }
    .topNav ul {
      display: none; }
  .tagline {
    width: 60%; } }

@media (max-width: 480px) {
  .tagline .name {
    line-height: 1.2; }
  .heading {
    background: -webkit-linear-gradient(302deg, #3c414e 44%, rgba(60, 65, 78, 0.85) 44%), url(../assets/mobile.jpg);
    background: -o-linear-gradient(302deg, #3c414e 44%, rgba(60, 65, 78, 0.85) 44%), url(../assets/mobile.jpg);
    background: linear-gradient(148deg, #3c414e 44%, rgba(60, 65, 78, 0.85) 44%), url(../assets/mobile.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat; }
    .heading h1 {
      font-size: 3.5rem; }
    .heading h2 {
      font-size: 0.9rem; } }

@media (max-width: 370px) {
  .heading h1 {
    font-size: 3rem; }
  .heading h2 {
    font-size: 0.8rem; } }

.aboutMe {
  background: -webkit-linear-gradient(60deg, #262936 52%, #2e3141 52%);
  background: -o-linear-gradient(60deg, #262936 52%, #2e3141 52%);
  background: linear-gradient(30deg, #262936 52%, #2e3141 52%);
  padding: 5% 0;
  min-height: 70vh; }

.aboutMeTitle {
  color: #EC9476;
  letter-spacing: 1.7px;
  font-size: 1.2rem; }

.bio {
  color: white; }

.info {
  width: 65%;
  padding-left: 79px; }
  .info p {
    padding: 10px 0px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 0.9rem; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .about .headshot {
    width: 35%; }

@media (max-width: 1080px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about .headshot {
      width: 30%; }
    .about .info {
      width: 100%;
      padding-left: 0; } }

@media (max-width: 768px) {
  .aboutMeTitle {
    letter-spacing: 1.5px;
    font-size: 1rem; }
  .info p {
    line-height: 1.3;
    letter-spacing: 1.8px; } }

@media (max-width: 560px) {
  .info p {
    font-size: 0.8rem; } }

@media (max-width: 480px) {
  .aboutMeTitle {
    font-size: 0.9rem; } }

@media (max-width: 400px) {
  .info p {
    font-size: 0.7rem; } }

.mySkills {
  background: #222533;
  padding: 5% 0; }
  .mySkills h2 {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 2px; }

.skillsList1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .skillsList1 li {
    font-size: 100px; }

.skillsList2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .skillsList2 li {
    font-size: 100px; }

.skillsLists .devicon-html5-plain, .skillsLists .devicon-react-original, .skillsLists .devicon-visualstudio-plain {
  color: #B1CD67; }

.skillsLists .devicon-css3-plain,
.skillsLists .devicon-sass-original {
  color: #83D0E4; }

.skillsLists .devicon-javascript-plain,
.skillsLists .devicon-git-plain {
  color: #EC9476; }

.skillsLists .devicon-jquery-plain-wordmark,
.skillsLists .devicon-github-plain {
  color: #968BA2; }

@media (max-width: 940px) {
  .skillsList1 li {
    font-size: 80px; }
  .skillsList2 li {
    font-size: 80px; } }

@media (max-width: 768px) {
  .skillsList1 li {
    font-size: 70px; }
  .skillsList2 li {
    font-size: 70px; } }

@media (max-width: 600px) {
  .skillsList1 {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .skillsList1 li {
      font-size: 60px; }
  .skillsList2 {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .skillsList2 li {
      font-size: 60px; } }

@media (max-width: 530px) {
  .skillsLists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .skillsList1 {
    width: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .skillsList2 {
    width: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.projects {
  background: #3C414E;
  padding: 5% 0; }

.projectsTitle h2 {
  color: #83D0E4;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 4%;
  font-size: 1.8rem; }

.project1,
.project2,
.project3,
.project4,
.project5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.project2,
.project3,
.project4,
.project5 {
  display: none; }

.projectLaptop {
  width: 50%; }
  .projectLaptop .projectPhoto {
    width: 319px;
    position: absolute;
    top: 26px;
    right: 66px; }
  .projectLaptop .laptopImage {
    width: 450px;
    position: relative; }

.projectInfo {
  width: 50%;
  color: white; }
  .projectInfo .skillUsed {
    color: #EC9476;
    padding-top: 34px;
    padding-bottom: 30px; }
  .projectInfo a {
    padding: 15px 15px;
    margin-right: 10px;
    background: #2e3141;
    color: #968BA2;
    border: 2px solid #B1CD67; }
  .projectInfo a:hover {
    color: #83D0E4; }

.left,
.right {
  color: #B1CD67;
  background: none;
  border: none;
  font-size: 51px;
  padding-right: 5px;
  padding-left: 5px; }

.left:hover, .right:hover {
  color: #968BA2; }

@media (max-width: 1080px) {
  .projectLaptop .projectPhoto {
    width: 282px;
    top: 23px;
    right: 60px; }
  .projectLaptop .laptopImage {
    width: 450px;
    width: 400px; }
  .left, .right {
    font-size: 40px; } }

@media (max-width: 940px) {
  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .projectLaptop {
    width: 80%;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .projectInfo {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .left {
    padding-bottom: 10px; }
  .right {
    padding-top: 10px; } }

@media (max-width: 621px) {
  .projectLaptop {
    width: 348px; }
    .projectLaptop .projectPhoto {
      width: 251px;
      top: 19px;
      right: 48px; } }

@media (max-width: 400px) {
  .projectLaptop {
    width: 300px; }
    .projectLaptop .projectPhoto {
      width: 217px;
      top: 16px;
      right: 42px; } }

.contact {
  background: #222533;
  color: white;
  padding: 5% 0; }
  .contact h2 {
    color: #968BA2;
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 4%; }
  .contact a {
    color: white; }
  .contact a:hover {
    color: #EC9476; }

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contactInfo {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contactInfo li {
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 2.4px;
    border-bottom: 2px solid #EC9476; }

.socialMedia {
  width: 40%; }
  .socialMedia nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .socialMedia .devicon-twitter-plain {
    color: #B1CD67; }
  .socialMedia .fa-linkedin {
    color: #83D0E4; }
  .socialMedia .devicon-github-plain {
    color: #EC9476; }
  .socialMedia .fa-medium {
    color: #968BA2; }
  .socialMedia i {
    font-size: 30px; }
  .socialMedia i:hover {
    color: white; }

@media (max-width: 670px) {
  .contactInfo li {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 2px; }
  .socialMedia i {
    font-size: 25px; } }

@media (max-width: 530px) {
  .contact h2 {
    font-size: 1.6rem;
    letter-spacing: 2px; }
  .contactMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contactInfo {
    padding-bottom: 10px;
    width: 100%; }
    .contactInfo li {
      font-size: 1.2rem;
      line-height: 1.5;
      letter-spacing: 2px; }
  .socialMedia {
    width: 100%; }
    .socialMedia i {
      font-size: 30px; } }

@media (max-width: 320px) {
  .contact h2 {
    font-size: 1.2rem;
    letter-spacing: 2px; }
  .contactInfo li {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 2px; }
  .socialMedia i {
    font-size: 25px; } }

/*# sourceMappingURL=styles.css.map */